/* fonts */
@import url(../fonts/fonts.css);
/* variables */
:root{
	--white-color: #FFFFFF;
	--white-color-two: #F2F2F2;
	--white-color-third: #E0E0E0;
	--transparent-white-color: #FFFFFF26;
	--blue-color: #4985FF;
	--dark-color: #323232;
	--grey-color: #999999;
	--black-color: #000000;
	--transparent-black-color: #00000033;
	--dark-grey-color: #C4C4C4;
	--light-grey-color: #F6F6F8;
	--gradient-color: #504DC2, #5F12D0;
	--gray-color-two: #A1A1A1;
	--hover-button-color: #504DC2;

	--container-width: 1100px;
}
html{
	font-size: 16px;
}
body{
	font-family: Montserrat;
	font-style: normal;
	line-height: normal;
	overflow-x: hidden;
}
.container{
	width: 100vw;
	padding-left: calc((100vw - var(--container-width)) / 2);
	padding-right: calc((100vw - var(--container-width)) / 2);
}

/* header */
.header{
	position: absolute;
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 40px;
	width: 100%;
}
.header::after{
	content: '';
	position: absolute;
	top: 60px;
	width: 100%;
	height: 1px;
	background-color: var(--gray-color-two);
}
.header__nav{
	display: flex;
	justify-content: space-between;
	grid-column-start: 2;
	padding-right: 40px;
	max-width: 583px;
	width: 100%;
}
.header__link{
	position: relative;
	color: var(--white-color);
	font-size: 1rem;
	font-weight: 500;
	transition: .2s;
}
.header__link::after{
	content: '';
	position: absolute;
	display: flex;
	margin-top: 39px;
	width: 0%;
	height: 2px;
	background-color: var(--white-color);
	transition: width .2s;
}	
.header__link:hover::after{
	width: 100%;
}
.header__link:focus{
	color: var(--transparent-white-color);
}
.header__line{
	height: 2px;
	background-color: var(--white-color);

}
/* blocks */
.general__button{
	display: inline-block;
	padding: 14px 36px;
	border-radius: 30px;
	background-color: var(--blue-color);
	box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
	color: var(--white-color);
	font-size: 1rem;
	font-weight: 500;
	transition: background-color .2s;
}
	.general__button:hover{
		background-color: var(--hover-button-color);
	}
	.general__button:active{
		background-color: #000;
	}

.general__title{
	flex-shrink: 0;
	color: var(--dark-color);
	text-align: center;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 146.28%;
}

.general__text{
	color: var(	--grey-color);
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 158.47%;
}

.general__link {
	display: inline;
	color: var(--blue-color);
	text-decoration:underline;
	transition: .2s;
}
	.general__link:hover{
		text-decoration:none;
		color: var(--gray-color-two);
	}

	