/* variables */
:root{
	--white-color: #FFFFFF;
	--white-color-100: #F2F2F2;
	--white-color-200: #E0E0E0;
	--white-color-300: #F6F6F8;
	--white-color-a: #FFFFFF26;
	--grey-color: #C4C4C4;
	--grey-color-100: #999999;
	--gray-color-200: #A1A1A1;
	--grey-color-300: #323232;
	--black-color: #000000;
	--black-color-a: #00000033;
	--gradient-color: #504DC2, #5F12D0;
	--hover-button-color: #504DC2;
	--blue-color: #4985FF;
	
	--container-width: 1100px;
}

html{
	font-size: 16px;
}

body{
	font-family: Montserrat;
	font-style: normal;
	line-height: normal;
	overflow-x: hidden;
}

.container{
	width: 100vw;
	padding-left: calc((100vw - var(--container-width)) / 2);
	padding-right: calc((100vw - var(--container-width)) / 2);
}

/* header */
.header{
	position: absolute;
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 40px;
	width: 100%;
}

.header::after{
	content: '';
	position: absolute;
	top: 60px;
	width: 100%;
	height: 1px;
	background-color: var(--gray-color-200);
}

.header__nav{
	display: flex;
	justify-content: space-between;
	grid-column-start: 2;
	padding-right: 40px;
	max-width: 583px;
	width: 100%;
}

.header__link{
	position: relative;
	color: var(--white-color);
	font-size: 1rem;
	font-weight: 500;
	transition: .2s;
}

.header__link::after{
	content: '';
	position: absolute;
	display: flex;
	margin-top: 39px;
	width: 0%;
	height: 2px;
	background-color: var(--white-color);
	transition: width .2s;
}	

.header__link:hover::after{
	width: 100%;
}
.header__link:focus{
	color: var(--white-color-a);
}

.header__line{
	height: 2px;
	background-color: var(--white-color);

}

/* blocks */
.button{
	display: inline-block;
	padding: 14px 36px;
	border-radius: 30px;
	background-color: var(--blue-color);
	box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
	color: var(--white-color);
	font-size: 1rem;
	font-weight: 500;
	transition: background-color .2s;
}

.button:hover{
	background-color: var(--hover-button-color);
}

.button:active{
	background-color: #000;
}

.title{
	flex-shrink: 0;
	color: var(--grey-color-200);
	text-align: center;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 146.28%;
}

.text{
	color: var(	--grey-color-100);
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 158.47%;
}

.link {
	display: inline;
	color: var(--blue-color);
	text-decoration:underline;
	transition: .2s;
}

.link:hover{
	text-decoration:none;
	color: var(--gray-color-200);
}

/* --------------------------footer ------------------------- */
.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 413px;
	background-color: var(--white-color-300);
	padding-top: 70px;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.footer__wrapper::after{
	content: '';
	position: absolute;
	top: 260px;
	height: 1px;
	width: 100%;
	background-color: var(--white-color-third);
}

.footer__blocks {
	display: grid;
	grid-template-rows: 1fr 4fr;
	height: 250px;
}

.footer__titles {
	color: var(--black-color);
	font-size: 1.125rem;
	font-weight: 600;
}

.footer__list {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
}

.footer__list-item {
	display: inline-block;

}

.footer__link {
	font-size: 0.875rem;
	position: relative;
	display: inline-block;
}

.footer__link::before{
	content: url(../icons/footer/arrow.svg);
	margin-right: 10px;
}

.footer__link::after{
	content: '';
	position: absolute;
	bottom: -0.8rem;
	left: 0;
	width: 0%;
	height: 1px;
	background-color: var(--grey-color-100);
	transition: .2s;
}

.footer__e-mail::before{
	content: url(../icons/footer/e-mail.svg);
	position: relative;
	top: 3px;
}

.footer__call::before{
	content: url(../icons/footer/call.svg);
	position: relative;
	top: 3px;
}

.footer__adress::before{
	content: url(../icons/footer/geo-position.svg);
	position: relative;
	top: 3px;
}

.footer__link:hover::after{
	width: 100%;
}

.footer__text-bottom {
	text-align: center;
	margin-bottom: 30px;
}