
/* -----------------------------hero------------------------------- */
.hero {
	display: block;
	padding-top: 319px;	
	background: url(../images/hero/hero_background.webp)  center center/cover, no-repeat;
	min-height: 100vh;
}

.hero__headline {
	color: var(--white-color);
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
}

.hero__title {
	margin: 0 auto;
	max-width: 829px;
	flex-shrink: 0;
	color: var(--white-color);
	text-align: center;
	font-size: 3rem;
	font-weight: 800;
	line-height: 134.09%;
}

.hero__button {
	display: block;
	margin: 50px auto 0 auto;
}

/* --------------------------services------------------------- */
.services {
	min-height: 703px;
	padding-top: 110px;
}

.services__title {
	display: block;
	margin: 0 auto;
	max-width: 739px;
}

.services__subtitle {
	display: block;
	max-width: 730px;
	margin: 50px auto 0 auto;
}

.services__wrapper {
	display: grid;
	margin-top: 125px;
	grid-auto-flow: column;
}

.services__card {
	display: grid;
	grid-template-columns: 30% 70%;
	min-width: 353px;
	min-height: 139px;
}

.services__image-wrapper{
	position: relative;
	grid-column-start: 1;
}

.services__image-wrapper::after {
	content: '';
	position: absolute;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: solid var(--white-color-200) 1px;
	transform: translateX(-45%) translateY(-50%);
}

.services__image-wrapper::before {
	content: '';
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: solid var(--blue-color) 1px;
	transform:  translateY(-50%);
}

.services__image {
	position: relative;
	max-width: 40px;
	max-height: 40px;
	transform: translateX(50%) translateY(-50%);
}

.services__text-wrapper{
	margin-left: 15px;
}

.services__card-title {
	margin-top: -10px;
	color: var(--black-color);
	font-size: 1.125rem;
	font-weight: 600;
	text-align: start;
}

.services__card-text {
	text-align: start;
	margin-top: 12px;
}

.services__button {
	display: block;
	margin: 55px auto 0 auto;
}

/* --------------------------about-us------------------------- */
.about-us {
	align-content: start;
	min-height: 797px;
	padding-top: 100px;
	padding-bottom: 70px;
	background-color: var(--white-color-300);
	background-size:  100% auto;
}

.about-us__wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
}

.about-us__image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	justify-self: end;
	border-radius: 20px;
}

.about-us__text-wrapper {
	display: grid;
	align-items: center;
	max-width: 450px;
}

.about-us__title {
	text-align: start;
}

.about-us__text {
	text-align: start;
}

.about-us__card-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 160px;
}

.about-us__wrapper::before{
	content: '';
	position: absolute;
	top: -77px;
	height: 1px;
	width: 100%;
	background-color: var(--white-color-200);
}

.about-us__card {
	display: inline-grid;
}

.about-us__card-title-wrapper{
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
}

.about-us__card-title-image{
	align-self: center;
}

.about-us__card-title {
	text-align: end;
	color: var(--black-color);
	font-size: 2.25rem;
	font-weight: 400;
	line-height: 146.28%;
}

/* --------------------------all-services ------------------------- */
.all-services {
	display: grid;
	position: relative;
	height: 972px;
}

.all-services__background {
	position: absolute;
	height: 490px;
	width: 100%;
	background:  linear-gradient(to right, var(--gradient-color));
	z-index: -1;
}

.all-services__top-wrapper{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 100px;
}

.all-services__title {
	color: var(--white-color);
	text-align: start;
}

.all-services__button {
	place-self: center;
	justify-self: end;
}

.all-services__card-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 30px;	
	margin-top: 60px;
}

.all-services__card-wrapper::after{
	content: '';
	display: flex;
	top: 100%;
	margin-top: 85px;
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: var(--white-color-200);
}

.all-services__card {
	display: grid;
}

.all-services__image-wrapper{
	position: relative;
	padding-bottom: 87%;
}

.all-services__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.all-services__card-title {
	margin-top: 30px;
	font-size: 1.125rem;
	font-weight: 600;
	align-self: center;
}

.all-services__text_blue {
	color: var(--blue-color);
}

.all-services__text {
	margin-top: 30px;
	text-align: start;	
}

.all-services__link {
	display: inline-block;
	margin-top: 30px;
	align-self: start;
}

/* --------------------------all-projects ------------------------- */
.all-projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 776px;
	margin-top: 85px;
	padding-top: 100px;
	background-color: var(--white-color-300);
}

.all-projects__text {
	margin-top: 50px;
}

.all-projects__wrapper {
	display: grid;
	grid-auto-flow: column;
	width: 100%;
	margin-top: 70px;
}

.all-projects__image {
	width: 255px; 
	height: 255px;
	border-radius: 10px;
	background: url(../images/all-projects/code-image.webp)center / contain no-repeat;
	background-size: cover;
}

.all-projects__button {
	margin-top: 50px;
}

/* --------------------------video-section ------------------------- */
.video-section {
	min-height: 1082px;
	position: relative;
}

.video-section__background {
	position: absolute;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), url(../images/work-profile/work-profile_img.webp), lightgray center / contain;
	background-size: cover;
	left: 0;
	height: 570px;
	width: 100%;
	z-index: -1;
}

.video-section__wrapper{
	padding-top: 70px;
	position: relative;
}

.video-section__wrapper::after{
	content: '';
	position: absolute;
	bottom: 300px;
	height: 1px;
	width: 100%;
	background-color: var(--white-color-200);
}


.video-section__title {
	color: var(--white-color);
}

.video-section__subtitle{
	color: var(--white-color);
	margin-top: 30px;
}

.video-section__video-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	max-width: 970px;
	max-height: 430px;
}

.video-section__video {
	display: block;
	width: 100%;
	height: 100%;
}

.video-section__video-play {
	position: absolute;
	display: flex;
	align-items: center;
	padding: 0 40px 0 0px;
	justify-content: space-around;
	background-color: #00000000;
	border-radius: 200px;
	border: 1px solid #FFF;
	width: 300px;
	height: 100px;
	color: #FFF;
	font-size: 1rem;
	font-weight: 500; 
	color: var(--white-color);
	transition: .2s;
}

.video-section__video-play::before{
	content: url(../icons/video-section/play.svg);
}

.video-section__video-play:hover{
	background-color: var(--white-color);
	color: var(--black-color);
}

.video-section__spam-wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	margin-top: 170px;
}


.video-section__spam-titile {
	color: var(--black-color);
	font-size: 1.125rem;
	font-weight: 600;
}

.video-section__text {
	margin-top: 20px;
}

.video-section__button {
	border-radius: 0px 30px 30px 0px;
}

.viedeo-section__form {
	border-radius: 30px;
	box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
	border: 1px solid var(--f-2-f-2-f-2, #F2F2F2);
	margin-top: 30px;
	background: #FFF;
	display: inline-block;
}

.viedeo-section__input {
	margin: 0 10px 0 30px;
	height: 100%;
	width: 200px;
}

.video-section__spam-text{
	font-size: 0.875rem;
	margin-top: 35px;
}
